<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ssafy.ssafitlog.model.dao.ReviewDao">
	<insert id="insertReview" parameterType="Review" keyProperty="reviewNumber" useGeneratedKeys="true">
		INSERT INTO review (reviewContent, reviewScore, reviewStatus, boardNumber, userId, nickName, img)
		SELECT  #{reviewContent}, #{reviewScore}, #{reviewStatus}, #{boardNumber}, #{userId}, img, nickName FROM user WHERE userid = #{userId};
	</insert>  
  
  	 <update id="updateReview" parameterType="Review">
  		UPDATE review
  		SET reviewContent = #{reviewContent}, reviewScore = #{reviewScore},
  		reviewStatus = #{reviewStatus}
  		WHERE reviewNumber = #{reviewNumber}
  	</update>
  
  	<select id="selectReview" parameterType="int" resultType="Review">
  		SELECT *
  		FROM review
  		WHERE reviewNumber = #{reviewNumber}
  	</select>
  
  	<select id="selectReviewAll" parameterType="int" resultType="Review">
  		SELECT *
  		FROM review
  		WHERE boardNumber = #{boardNumber}
  	</select>
  	
  	<delete id="deleteReview" parameterType="Review">
  		DELETE FROM review
  		WHERE reviewNumber = #{reviewNumber}
  	</delete>
  	

  </mapper>